/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
  color: #666;
  padding-bottom: 30px;
}

.breadcrumb a {
  font-weight: 300;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: black;
  text-decoration: underline;
}

.breadcrumb span {
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

/* Content tilte and description */
.content-header {
  margin-bottom: 30px;
}

.content-tiltle {
  font-size: 60px;
  font-weight: 300;
  line-height: 55px;
}

p.content-description {
  font-size: 18px;
  font-weight: 300;
  width: 50%;
}

@media (max-width: 768px) {
  p.content-description {
    width: 100%;
  }
}

/* Content categories */
.content-title {
  font-weight: 500;
  font-size: medium;
  margin-bottom: 10px;
}

.btn-cate {
  outline: none;
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid #e3e4e8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-right: 10px;
  background-color: #fff;
}

@media (max-width: 480px) {
  .btn-cate {
   margin: 10px 0;
  }
}
